main{
  padding: 1rem;
  width: 60%;
  margin: auto;
  font-family: 'Nunito', sans-serif;
  font-family: 'Prompt', sans-serif;
  color: #F7F7F7  ;
}

.title{
  color: rgb(253, 249, 249);
  background-color: #6D9886;
  font-size: 1rem;
  margin-bottom: 2%;
  text-align: center;
  padding: 1rem;
}

.two-col{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0%;

}

.room{
  font-size: 1rem;
  color: rgb(0, 0, 0);
}